
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  #content{
  .form{
      background: linear-gradient(-90deg,
              transparent 25%,
              rgba(85, 174, 150, 0.7) 25%,
              rgba(85, 174, 150, 0.7) 100%), url(./../../aatri/assets/images/lower_banner.jpg);
    }
    h1{
      font-size: 1.8rem;
    }
    .top-banner{
      p{
        font-size: 1.2rem;
      }
    }
  }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #content{
    h1{
      font-size: 1.5rem;
    }
    .top-banner{
      [text]{
        width: 50%
      }
      p{
        font-size: 1rem;
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .header{
    >div{
        display: block!important;
      .logo{
        img{
          margin: 0 auto;
          display: block;
        }
      }
      .header-button{
        width: 100%;
      }
    }
  }
  #content{
    .form{
      background: linear-gradient(-90deg,
              transparent 0%,
              rgba(85, 174, 150, 0.8) 0%,
              rgba(85, 174, 150, 0.8) 100%), url(./../../aatri/assets/images/lower_banner.jpg);
    }
    h1{
      font-size: 1.5rem;
    }
    .top-banner{
      background: linear-gradient(47deg, rgba(70, 193, 227, 0.82) 30%, rgba(70, 227, 198, 0.82) 100%),url(./../../aatri/assets/images/upper_banner.jpg);
      padding-top: 2.3rem;
      padding-bottom: 2.3rem;
      [text]{
        width: 100%;
      }
    }
  }
}