
.header {
  .logo {
    display: inline;
    img {
      max-height: 133px;
    }
  }
  .header-button {
    border-radius: 0;
    background-color: #46c1e3;
    border: none;
    margin-bottom: 16px;
    svg {
      margin-right: 5px;
    }
  }
}

#content {
  p, h2, h3 {
    color: #898989;
  }
  h1, h2, h3 {
    text-transform: uppercase;
    font-style: italic;
  }
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
    svg {
      color: #46C1E3;
      margin-right: 1rem;
    }
  }
  h1 {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .top-banner {
    padding-top: 7.3rem;
    padding-bottom: 7.3rem;
    margin-bottom: 3.7rem;
    background:
            linear-gradient(-45deg,
            rgba(107, 207, 245, 0.8) 30%,
            transparent 30%),
            linear-gradient(-45deg,
            rgba(83, 191, 170, 0.6) 53%,
            transparent 53%),

    linear-gradient(60deg,
                    transparent 51%,
                    rgba(66, 171, 194, 0.5) 51%,
                    rgba(66, 171, 194, 0.5) 0%),
    url(./../../aatri/assets/images/upper_banner.jpg);
   /* background: linear-gradient(-40deg,
            transparent 35%,
            rgba(72, 190, 168, 0.5) 35%,
            rgba(72, 190, 168, 0.5) 55%,
            transparent 55%),
    linear-gradient(60deg,
                    transparent 44%,
                    rgba(70, 193, 227, 0.89) 44%,
                    rgba(70, 193, 227, 0.89) 0%),
    url(./../../aatri/assets/images/upper_banner.jpg);*/
    h1, p {
      color: white;
    }
    p {
      font-size: 1.4rem;
    }
    [text] {
      width: 45%;
      float: right;
    }
  }
  .what-is {
    margin-bottom: 3rem;
    h2{
      font-weight: bold;
      margin-bottom: 1.4rem;
      font-size: 1.6rem;
    }
    p{
      font-size: 1.3rem;
      width: 53%;
      margin: 0 auto;
    }
  }
  .info {
    margin-bottom: 70px;
    h3 {
      margin-bottom: 1.9rem;
    }
    p{
      font-size: 1rem;
    }
    a{
      color: #46bfa9;
    }
  }
  .form {
    p, h3 {
      color: white;
    }
    background: linear-gradient(-90deg,
            transparent 50%,
            rgba(85, 174, 150, 0.8) 50%,
            rgba(85, 174, 150, 0.8) 100%), url(./../../aatri/assets/images/lower_banner.jpg);
    form {
      padding: 3.9rem  2.6rem 5.7rem 1.7rem;
      input[type='text'] {
        width: 100%;
        margin-top: 1.8rem;
        border: 0;
        outline: 0;
        padding-bottom: 0.2rem;
        background: transparent;
        border-bottom: 1px solid #efefef;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #efefef;
        &::placeholder {
          color: #efefef;
          font-style: italic;
          font-size: 1.1rem;
        }
      }
      input[type='submit'] {
        margin-top: 2.2rem;
        font-weight: bold;
        color: #27b5ce;
        font-style: italic;
        border-radius: 0;
        padding: 0.4rem 3rem;
      }
    }
  }
}
footer{
  background-color: #46c1e3;
  border-top: 2px solid white;
  p{
    margin: 0;
    padding: 0.7rem 0;
    color: white;
    font-size: 0.8rem;
  }
}

.back-image {
  background-position: 0 0 !important;
  background-size: cover !important;
}
