/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-1 {
  background-image: url(sprite.png);
  background-position: -275px -143px;
  width: 34px;
  height: 37px;
}
.icon-2:hover {
  background-image: url(sprite.png);
  background-position: -161px 0px;
  width: 161px;
  height: 143px;
}
.icon-2 {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 161px;
  height: 143px;
}
.icon-cart_b:hover {
  background-image: url(sprite.png);
  background-position: -55px -143px;
  width: 55px;
  height: 55px;
}
.icon-cart_b {
  background-image: url(sprite.png);
  background-position: -110px -143px;
  width: 55px;
  height: 55px;
}
.icon-heart:hover {
  background-image: url(sprite.png);
  background-position: -80px -198px;
  width: 25px;
  height: 22px;
}
.icon-heart {
  background-image: url(sprite.png);
  background-position: -55px -198px;
  width: 25px;
  height: 22px;
}
.icon-heart_b:hover {
  background-image: url(sprite.png);
  background-position: -220px -143px;
  width: 55px;
  height: 55px;
}
.icon-heart_b {
  background-image: url(sprite.png);
  background-position: 0px -198px;
  width: 55px;
  height: 55px;
}
.icon-search_b:hover {
  background-image: url(sprite.png);
  background-position: -165px -143px;
  width: 55px;
  height: 55px;
}
.icon-search_b {
  background-image: url(sprite.png);
  background-position: 0px -143px;
  width: 55px;
  height: 55px;
}
