// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Colors
$light-grey: #c1bcb1 !default; // sdingle post - image border color;
//$light-grey: #616161 !default; // sdingle post - image border color;
$dark-grey: #333 !default;
$primary-color: #9b1fa7 !default;
$primary-color-light: #b962c1 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #fff !default;
$font-color: #222 !default;


// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
